<div>
  <p> parent </p>
  <p>inputSignal_Required : {{inputSignal_Required}}</p>
  <p>inputSignal_Alias : {{inputSignal_Alias}}</p>
  <p>inputSignal_Transform: {{inputSignal_Transform}}</p>
  <p><button (click)="updateParentInput()">update parent input</button></p>
</div>
<hr />
<br />
<div>
  <p>App Signal 1</p>
  <app-signal-input-1 
  [classicInput1]="inputSignal_Required"
  [classicInput2]="inputSignal_Transform"
  [inputSignal_Required]="inputSignal_Required"
  [aliasedInputSignal]="inputSignal_Alias"
  [inputSignal_Transform]="inputSignal_Transform"
  >

</app-signal-input-1>
<hr />
<br />
<div>
  <app-output-signal-1
    (countUpdated)="countUpdatedParentEvent($event)"
    (outputObservable)="outputObservableParentEvent($event)"
    (outputToObservable2)="outputObservable2ParentEvent($event)"
    (memoryLeakToObservable)="memoryLeakObservableParentEvent($event)"
  >
  
  </app-output-signal-1>
</div>

</div>