<h1> Input Signal</h1>
<p>signal input : {{inputSignal()}}</p>
<p>singal input with default: {{inputSignal_NotRequired_Default()}}</p>
<p>signal input required: {{inputSignal_Required()}}</p>
<p>signal input alias: {{inputSignal_Alias()}}</p>
<p>signal input with transform: {{inputSignal_Transform()}}</p>
<p>signal input computed: {{inputSignal_Computed()}}</p>
<p>classic input: {{classicInput1}}</p>
<p>classic input 2: {{classicInput2}}</p>
<p><button (click)="updateInput1()">update input1 component</button></p>